<%= simple_form_for([post, message ], remote: true) do |form| %>
<div class="d-flex">
  <div class="msg-content">
  <%= form.input :message_content, as: :text , input_html: { class: 'new-message' }%>
  </div>
  <%= button_tag type: "submit", class: "send-btn" do %>
  <i class="far fa-paper-plane"></i>
  <% end %>
</div>
<% end %>
