<%= render partial: 'shared/header', locals: {:title => "#{@message.post.user.first_name}, #{@message.post.store_name}", :myclass => "sub-title"} %>

<div id="messages" class="massage-margin">
    <% @post.messages.each do |message| %>
      <%= render 'messages/show', message: message %>
  <% end %>
</div>

<%= render 'messages/form', post: @post, message: @message %>


