<%= render partial: 'shared/header', locals: {:title => "#{@message.post.store_name} - #{@message.post.user.first_name} ", :myclass => "sub-title"} %>

<div id="messages" class="massage-margin">
    <% @post.messages.order(created_at: :asc).each do |message| %>
      <%= render 'messages/show', message: message %>
  <% end %>
</div>

<div class="send-message mx-3 my-5 fixed-bottom">
<%= render 'messages/form', post: @post, message: @message %>
</div>

