// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$split-green: #F9FAF8;
$split-red: #AB625F;
$split-blue: #47577D;
$split-orange: #FFF6EB;
$split-darkgreen: #C6CCC2;
$split-darkblue: #1F435E;
$split-lightblue: #B8C7C9;
$split-mdblue: #6BA6C2;
$oomph: #F86F66;
$little-oomph: #DCE6F2;
