.wrapper-dash{
  text-align:center;
  margin:15px auto;
}

.tabs{
  font-size:15px;
  padding:0px;
  list-style:none;
  display:flex;
  border-radius:55px;
  position:relative;
  top: 6px;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:5px 10px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:68px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background: #e0c505;
  background: -moz-linear-gradient(45deg, #e0c505 0%, #f400a9 100%);
  background: -webkit-linear-gradient(45deg, #e0c505 0%,#f400a9 100%);
  background: linear-gradient(45deg, #e0c505 0%,#f400a9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c505', endColorstr='#f400a9',GradientType=1 );
}

.hidden {
  display: none;
}

.ongoing {
  margin-bottom: 100px;
}

.history {
  margin-bottom: 100px;
}

.favourites {
  margin-bottom: 100px;
}

