// Specific CSS for your home-page
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .container{
    width: 25%
  }
  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .container{
      width: 50%
    }
  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .container{
      width: 75%
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  .container{
      width: 100%
    }
  }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
