// Specific CSS for your home-page
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 375px) {
  .cards{
    grid-template-columns: 1fr 1fr;
    }
  .carousel-item{
  width: 414px;
  height: 300px;
  }

}

// Small devices (landscape phones, less than 768px)
@media (min-width: 567px) {

  .cards{
  grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 991px) {
  .cards{
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1199px) {
  .cards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
.container{
  position: relative;
}

.content{
  margin-bottom: 50px;
  margin-top: 50px;
}
body {
  height: 100vh;
  background-color: #f8fbff;
  // background-image: radial-gradient(farthest-corner at 40px 100px,
  //     $white 0%, $split-orange 100%);
  background-repeat: no-repeat;
  clear: both;
  font-family: 'muli', sans-serif;
  overflow: scroll;
}


h1{
  font-size: 30px;
}

h2{
  font-size: 18px;
}

.btn-primary{
  background-color: transparent;
  border: 2px solid $split-red;
  color: black;
  border-radius: 10px;
}
p {
  font-size: 15px;
}

#favourite_link{
  font-size: 20px;
  font-style: bold;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
