#login-page{
  background-image: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
  padding-top: 100px;
  min-height:800px;
  background-color:white;
}

.login-btn{
  border: solid 1px;
  width: 250px;

}


