.send-message{
  width: 90%;
}

.send-btn{
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 33px;
  left: 325px;
}

.msg-content{
  width:-webkit-fill-available;
}
