
.timer-post {
  font-size: 10px;
  line-height: 13px;
  margin: 10px;
  text-align-last: right;
}

.progress-bar-details{
  margin: 0;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.post-heading{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.post-details {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.post-btn {
  background-color: $little-oomph;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  width: 70%;
  height: 15vw;
  position: absolute;
  bottom: 0;
  left: 55px;

}

.post-container {
  border-radius: 20px;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  height: 372px;
  top: 270px;
}

.post-header{
  background-color: rgba(255,255,255,0.8);
}

.sub-content{
  background-color: white;
  height: 267px;
}

.head{
  margin: 0px;
}
