.post-timer{
  line-height: 10px;

}
.post-timer p{
  font-size: 20px;
  text-align:center;
  color: $split-red;
}

.post-timer h2{
  font-size: 20px;
  text-align:center;
  color: $split-red;
}


.progress-bar-details{
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.post-heading{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.post-details p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}


.post-btn {
  background-color: $little-oomph;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  width: 286px;
  height: 15vw;
  position: absolute;
  bottom: -26px;
  left: 55px;
}

.btn-primary:disabled{
  background-color: grey;
  border-color: grey;
}


.post-container {
  position: absolute;
  margin-left: 18px;
  height: 420px;
  top: 309px;
  width: 389px;
  margin-bottom: 50px;

}

.post-header{
  background-color: rgba(255,255,255,0.8);
  margin: 0px;
  height: 63px;
}

.sub-content{
  background-color: white;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: relative;
}


.post-completed {
  background-color: $little-oomph;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  width: 227px;
  height: 15vw;
  position: absolute;
  bottom: -26px;
  left: 55px;
}
