#profile-back {
  background: url("https://image.freepik.com/free-vector/purple-yellow-pink-soft-color-polygon-background-design_9028-15.jpg");
}

.profile-sec {
  background-color: #6A0C33;
  margin-top: 41px;
  height: 50%;
  border-radius: 20px;
}

.profile-third {
  background-color: white;
  position: absolute;
  top: 221px;
  z-index: 1;
  height: -webkit-fill-available;
  border-radius: 20px;
  width: 100%;
}


.icon-profile {
  text-align-last: justify;
  color: white;
}
