#profile-back {
    background-image: linear-gradient(to left, rgba(255,102,102,1), rgba(167,19,80,1));

}

.profile-sec {
  background-color: #6A0C33;
  margin-top: 41px;
  height: 50%;
  border-radius: 20px;
}

.profile-third {
  background-color: white;
  position: absolute;
  top: 221px;
  z-index: 1;
  height: -webkit-fill-available;
  border-radius: 20px;
  width: 100%;
}


.icon-profile {
  text-align-last: justify;
  color: white;
}

.icon-profile i{
  color: black;
}
.head {
  width: 100%;
  height: 123px;
  padding: 0px;
  }


.tail-shown {
  width: 100%;
  height: 123px;
  z-index: 1;
  position: absolute;
  top: 0px;
  background-color: black;
  opacity: 0.8;
}

.selected {
  position: relative;
}

.second-icon {
  position: absolute;
  bottom: 72px;
  right: 23px;
  font-size: 23px;
}

.profile-btn {
  background-color: transparent;
  border: none;
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
  margin: 0 0 0 16px;
}

.profile-notif {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: center;
}
