<%= render partial: 'shared/header', locals: {:title => "Featured promos", :class => "sub-title"} %>
<div class="container">
  <div class="cards">
      <% @deals.each do |deal| %>

      <div class="card-deal text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=deal.image_url %>)">
      <%= deal.title %>
    </div>
      <% end %>
  </div>
</div>
