<% @posts.each do |post| %>
<% if post.status == true %>
<%= link_to post_path(post) do %>
<h3>
  <%= post.store_name %>
</h3>
<p>
  <%= post.discount %>
</p>
<% end %>
<p class="timer">
  <span class="end_time_data" data-time="<%=post.end_time%>"></span>
  <span class="hours"></span>:
  <span class="minutes"></span>:
  <span class="seconds"></span>
</p>
<% end %>
<% end %>
