.card-deal {
  background-size: cover;
  background-position: center top;
  height: 150px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.cards{
  flex-grow: 1;
  display:grid;
}

#main-deal{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  height: 200px;
  width: 150px;
}

.card-product {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 10px;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
}

.card-product-infos{
  padding-left: 15px;
}
