#dropdownMenuButton{
  background-color: transparent;
  border: 0;
  height: 30px;
  width: 30px;
}

.dropdown-menu{
  background-color: transparent;
  border: 0px;
  text-align-last: end;
  color: white;
}

