.page-footer{
  background-color: $white;
  height:50px;
  font-size: 30px;
  width: 100%;
  box-shadow: -5px -2px 6px rgba(0,0,0,0.08);
}

.list-inline {
  text-align-last: justify;
  margin-bottom: 0px !important ;
}

i {
  color: $split-red;
}
