.page-footer{
  background-color: $oomph;
  height:50px;
  font-size: 30px;
  width: 100%;
  box-shadow: -5px -2px 6px rgba(0,0,0,0.08);
  border-radius: 10px 10px 0px 0px;
}

.list-inline {
  text-align-last: justify;
  margin-bottom: 0px !important ;
}


i {
  color: $split-red;
}

