.page-footer{
  background-color: $oomph;
  height:50px;
  font-size: 30px;
  width: 100%;
  box-shadow: -5px -2px 6px rgba(0,0,0,0.08);
  border-radius: 10px 10px 0px 0px;
}

.list-inline {
  text-align-last: justify;
  margin-bottom: 0px !important ;
}


i {
  color: $split-red;
}

.svg-icons{
  fill: white !important;
  height: 30px;
  width: 30px;
  filter: invert(94%) sepia(93%) saturate(25%) hue-rotate(48deg) brightness(107%) contrast(100%);
}

.svg-icons:active{
  filter: invert(96%) sepia(3%) saturate(2606%) hue-rotate(179deg) brightness(99%) contrast(91%);
}
