.header{
  height: 150px;
  background-color: $oomph;
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 0px 0px 10px 10px;
}

.main-title{
  position: absolute;
  bottom: 25px;
  font-size: 50px;
  left: 29px;
  color:white;
  font-family: Pompiere, cursive;
}

.sub-title{
  font-size: 35px;
  font-family: Pompiere, cursive;
  position: absolute;
  top : 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform    : translate(-50%, -50%);
  text-align: center;
  width: fit-content;
  color:white;
}
