.svg-icons{
  fill: white !important;
  height: 30px;
  width: 30px;
  filter: invert(94%) sepia(93%) saturate(25%) hue-rotate(48deg) brightness(107%) contrast(100%);
}

.svg-icons:active{
  filter: invert(96%) sepia(3%) saturate(2606%) hue-rotate(179deg) brightness(99%) contrast(91%);
}

.mini-icons{
  height: 20px;
  width: 20px;
  filter: invert(48%) sepia(10%) saturate(1989%) hue-rotate(314deg) brightness(89%) contrast(86%);

}

#photo-upload{
  border: 1px solid;
  border-radius: 50%;
  height:50px;
  width: 50px;
  color: $split-red;
  filter: invert(45%) sepia(90%) saturate(217%) hue-rotate(315deg) brightness(84%) contrast(101%);
  padding-top: 5px;
  margin-left: 127px;
}
.post_photo{
  margin-bottom: 0px;
}
