.post-img {
  width: 100%;
    height: 91vw;
    position: relative;
    object-fit: cover;
}

.index-img{
  width:100%;
  object-fit: cover;
  height: 210px;
  border-radius:10px;
}

.card-text{
  padding: 2px;
  margin: 0px;
}

.home-img{
  width:100%;
  object-fit: cover;
  height: 150px;
  border-radius:10px;
}

.deal-img{
  width: 100%;
  height: 91vw;
  position: relative;
 background-size: cover;
}
