.search-form-control {
  position: absolute;
  top: 129px;
  left: 24px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 90px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 10px 0px 0px 10px;
}

.search-form-control .form-control:focus {
  border: 1px solid rgba(171,98,95,0.2);
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#nearby{
  border-radius: 0px 10px 10px 0px;
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  background-color: white;
  width: 100px;
  font-size: 10px;
}
