#messages {
  display: flex;
  flex-direction: column;
}

.speech-other {
  align-self: flex-start;
  position: relative;
  background: white;
  border-radius: .4em;
  color: black;
  margin: 5px 20px 20px 20px;
  padding: 5px 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1)
}

.speech-other:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.speech-other #user {
  font-weight: bold;
}

.speech-me {
  text-align: end;
  position: relative;
  background: $little-oomph;
  border-radius: .4em;
  color: black;
  margin: 5px 20px 20px 20px;
  padding: 5px 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#text{
  width: 100%;
}

.speech-me:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: $little-oomph;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.speech-me #user {
  font-weight: bold;
}

.message-margin {
  margin-bottom: 150px;
}

.notify-icon {
  color: green;
  font-size: 8px;
  position: absolute;
  top: 9px;
  right: 33px;
}
